name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: SSH and deploy app
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          port: ${{ secrets.SSH_PORT }}
          script: |
            source ~/.zprofile
            cd /home/fadhil/aws_tugas_2/tugas-aws-backend-2
            git pull origin main
            npm install
            npm run migrate up
            pm2 start "npm run start" --name "tugas-aws-backend-2"
            pm2 restart tugas-aws-backend-2
